@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Onest:wght@300&display=swap');
html {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    grid-template-columns: 60px 3fr;
    grid-template-rows: 1fr 5fr;
    margin: 0;
    height: 100%;
    width: 100vw;
    font-family: 'Mukta', sans-serif, Arial, Helvetica, sans-serif;
}

@media (min-width: 680px) {
    body {
        grid-template-columns: 1fr 3fr;
    }
    
    html {
        height: 100%;
        margin: 0;
    }
    

    div.logo-text,
    div.menu-item {
        display: block;
    }

    div.sidebar {
        grid-template-columns: 1fr 3fr;
    }

    div.header {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 2fr 3fr;
    }
}

.sidebar {
    background-color: rgb(0, 228, 228);
    grid-row: span 2;
    display: grid;
    grid-template-rows: 90px 70px repeat(6, 50px) 70px repeat(3, 50px);
    grid-template-columns: 60px;
    grid-template-areas: "logo company-name"
                         ". ."
                         "home-icon home"
                         "profile-icon profile"
                         "messages-icon messages"
                         "history-icon history"
                         "tasks-icon tasks"
                         "communities-icon communities"
                         ". ."
                         "settings-icon settings"
                         "support-icon support"
                         "privacy-icon privacy";
    align-items: center;
    justify-items: center;
    color: white;
}

.header {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 100%;
}

/*--------------search----------------*/

.search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

#search-button {
    width: 30px;
    height: 30px;
    border-style: none;
    background-color: inherit;
}

#search-img {
    display: inline-block;
    padding-top: 5px;
}

#search-field {
    width: 100%;
    height: 25px;
    border-radius: 50px;
    border-style: none;
    background-color: #d7d7d7;
}

#search-cont {
    width: 100%;
}

/*--------------search----------------*/


/*---------sidebar logo and menu menu-----------*/

.logo-text,
.menu-item {
    display: none;
}

.menu-img {
    height: 30px;
    width: auto;
}

.menu-item,
.logo-text {
    justify-self: start;
}

.logo-image {
    grid-area: logo;
}

.logo-text {
    grid-area: company-name;
}

#company-logo {
    width: 50px;
    height: auto;
}

#home-icon {
    grid-area: home-icon;
}

#home {
    grid-area: home;
}

#profile-icon {
    grid-area: profile-icon;
}

#profile {
    grid-area: profile;
}

#messages-icon {
    grid-area: messages-icon;
}

#messages {
    grid-area: messages;
}

#history-icon {
    grid-area: history-icon;
}

#history {
    grid-area: history;
}

#tasks-icon {
    grid-area: tasks-icon;
}

#tasks {
    grid-area: tasks;
}

#communities-icon {
    grid-area: communities-icon;
}

#communities {
    grid-area: communities;
}

#settings-icon {
    grid-area: settings-icon;
}

#settings {
    grid-area: settings;
}

#support-icon {
    grid-area: support-icon;
}

#support {
    grid-area: support;
}

#privacy-icon {
    grid-area: privacy-icon;
}

#privacy {
    grid-area: privacy;
}

/*--------------sidebar end---------------*/


.header {
    background-color: rgb(255, 252, 252);
}

.main {
    background-color: beige;
    grid-column: 2 / 2;
}