@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&family=Onest:wght@300&display=swap');
html {
    height: 100%;
    margin: 0;
}

:root {
    --secondary-color: #ffdb0d;
    --cards-background: #ffffff;
    --secondary-text: #999999;
}

/* 
- left items to left, right - to right when in two cols layout
- adjust sidebar collapsing before screen size reaches maximum 
and starts cover the content
*/

body {
    display: grid;
    grid-template-columns: 60px 3fr;
    grid-template-rows: 1fr 5fr;
    margin: 0;
    height: 100%;
    width: 100vw;
    font-family: 'Mukta', sans-serif, Arial, Helvetica, sans-serif;
}

@media (min-width: 970px) {
    div.header {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: 4fr 3fr;
        min-width: 450px;
        justify-items: center;
        align-items: center;
    }

    div#profile-pic {
        display: block;
    }
    
    div.greeting {
        justify-content: start;
        margin-left: 90px;
        gap: 50px;
    }
}
@media (min-width: 800px) {
    body {
        grid-template-columns: 220px calc(100% - 220px);
    }
    
    html {
        height: 100%;
        margin: 0;
    }
    

    div.logo-text,
    div.menu-item {
        display: block;
    }

    div.sidebar {
        grid-template-columns: 60px 160px;
    }



    div#search-cont > #search-field {
        min-width: 0;
    }

    div#search-cont > #search-field {
        min-width: 0;
    }

    div.user-section {
        /* min-width: 340px; */
        justify-content: flex-end;
        margin: 0 20px 0 20px;
    }

    div#notifications {
        min-width: 30px;
        width: 30px;
        height: auto;
    }

    div#notifications-image {
        min-width: 30px;
        width: 30px;
        height: auto;
    }

    img.user-pic-img {
        width: 50px;
        height: auto;
        border-radius: 100px;
    }

    div#user-name {
        font-size: 1rem;
    }

    div#greet-user-name {
        display: block;
    }

}

.sidebar {
    background-color: var(--secondary-color);
    grid-row: span 2;
    display: grid;
    grid-template-rows: 90px 70px repeat(6, 50px) 70px repeat(3, 50px);
    grid-template-columns: 60px;
    grid-template-areas: "logo company-name"
                         ". ."
                         "home-icon home"
                         "profile-icon profile"
                         "messages-icon messages"
                         "history-icon history"
                         "tasks-icon tasks"
                         "communities-icon communities"
                         ". ."
                         "settings-icon settings"
                         "support-icon support"
                         "privacy-icon privacy";
    align-items: center;
    justify-items: center;
    color: white;
}

.header {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    min-width: 450px;
    justify-items: center;
    align-items: center;
}



/* -------------greeting---------------- */
    .greeting {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 100%;
    }
    
    #greeting-cont {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #profile-image {
        width: 60px;
        height: auto;
        border-radius: 50px;
    }

    #profile-name {
        font-size: 2rem;
    }

    #profile-pic {
        display: none;
    }
/* -------------greeting---------------- */

/* -------------header-buttons---------- */

.header-button {
    border-style: none;
    border-radius: 50px;
    background-color: var(--secondary-color);
    width: 80px;
    height: 35px;
}

.header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    width: 350px;
}

/* -------------header-buttons---------- */

/*--------------search----------------*/

 .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    width: calc(100% - 80px);
} 

#search-button {
    display: block;
    width: 40px;
    height: auto;
    border-style: none;
    background-color: inherit;
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

#search-img {
    display: inline-block;
    padding-top: 5px;
}

#search-field {
    width: 100%;
    display: block;
    padding: 0;
    height: 35px;
    border-radius: 50px;
    border-style: none;
    background-color: #d7d7d7;
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}

#search-cont {
    width: 100%;
    /* margin-left: 30px; */
}

/*--------------search----------------*/

/*--------------notifications & user profile--------------*/
    .user-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 30px;
        margin-left: 50px;
    }

    #notifications {
        width: 40px;
        height: auto;
    }

    #notifications-image {
        width: 40px;
        height: auto;
    }

    .user-pic-img {
        width: 50px;
        height: auto;
        border-radius: 100px;
    }

    #user-name {
        font-size: 1.8rem;
    }

    #profile-template {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 30px;
        gap: 30px;
        grid-row: 2 / 2;
        grid-column: 2 / 2;
        justify-self: start;
    }

    #buttons-bar {
        display: flex;
        flex-direction: row;
        grid-row: 3 / 3;
        grid-column: 2 / 2;
        justify-content: space-around;
        width: 100%;
    }

    .header-button {
        border: none;
        background-color: var(--secondary-color);
        width: 75px;
        height: 35px;
        border-radius: 50px;
    }

    #greet-user-name {
        display: none;
    }
/*--------------notifications & user profile--------------*/


/*---------sidebar logo and menu menu-----------*/

.logo-text,
.menu-item {
    display: none;
}

.menu-img {
    height: 30px;
    width: auto;
}

.menu-item,
.logo-text {
    justify-self: start;
}

.logo-image {
    grid-area: logo;
}

.logo-text {
    grid-area: company-name;
}

#company-logo {
    width: 50px;
    height: auto;
}

#home-icon {
    grid-area: home-icon;
}

#home {
    grid-area: home;
}

#profile-icon {
    grid-area: profile-icon;
}

#profile {
    grid-area: profile;
}

#messages-icon {
    grid-area: messages-icon;
}

#messages {
    grid-area: messages;
}

#history-icon {
    grid-area: history-icon;
}

#history {
    grid-area: history;
}

#tasks-icon {
    grid-area: tasks-icon;
}

#tasks {
    grid-area: tasks;
}

#communities-icon {
    grid-area: communities-icon;
}

#communities {
    grid-area: communities;
}

#settings-icon {
    grid-area: settings-icon;
}

#settings {
    grid-area: settings;
}

#support-icon {
    grid-area: support-icon;
}

#support {
    grid-area: support;
}

#privacy-icon {
    grid-area: privacy-icon;
}

#privacy {
    grid-area: privacy;
}

/*--------------sidebar end---------------*/

/* ---------------main-content------------ */
    div#announcements-card > hr {
        width: 85%;
    }

    .card-header {
        color: blue;
    }

    .project-card,
    #announcements-card,
    #trending-card {
        background-color: var(--cards-background);
        box-shadow: 0px 0px 4px 0px rgb(0, 0, 255);
        border-radius: 10px;
    }

    .project-card {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 6fr 1fr ;
        border-left: 6px solid #ffa60d;
        height: 160px;
        padding: 15px;
    }
    .project-card,
    #announcements-card,
    #trending-card {
        padding: 15px;
    }

    .card-text,
    .about {
        font-size: .8rem;
        color: var(--secondary-text);
    }

    .actions-bar {
        display: flex;
        flex-direction: row;
        width: 90px;
        gap: 10px;
        justify-self: end;
    }

    .action,
    .action-pic {
        width: 20px;
        height: auto;
    }

    .users {
        display: flex;
        flex-direction: row;
        gap: 10px;
        height: 60px;
    }

/* ---------------main-content------------ */


.header {
    background-color: rgb(255, 252, 252);
}

.main {
    background-color: beige;
    display: grid;
    grid-column: 2 / 2;
    grid-template-columns: repeat(auto-fill, minmax(200px, 33.33%));
    grid-template-rows: repeat(20, minmax(20px, 1fr));
}

